doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="css/main.min.css")
        title Vk friends
        script(src= "https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js")
    body
        .container
            .logo
                img.logo__img(src='images/logo.png' alt='logo')
            .content
                .content__header
                    .top__header
                        .top__header-title Выберите друзей
                        img.top__header-close(src='images/close_white.png' alt='close')
                    .bottom__header
                        .left-search
                            input.left-search__vk(placeholder='Начните вводить имя друга', type='search')
                        .right-search
                            input.right-search__my(placeholder='Название', type='search')
                .content__main
                    .left__main
                        .left__main-title Ваши друзья
                        list.friends__vk
                            //item.friend__item
                            //    .friend
                            //        img.friend__photo(src='images/photo-user.png' alt='photo')
                            //        .friend__name Иришка Кочерыжка
                            //    img.close-button(src='images/close_grey.png' alt='add')
                    .right__main
                        .right__main-title Ваши друзья в списке
                        list.friends__list
                            item.friend__item
                                .friend
                                    img.friend__photo(src='images/photo-user.png' alt='photo')
                                    .friend__name Иришка Кочерыжка
                                img.close-button(src='images/add.png' alt='add')
                .content__footer
                    .save-button Сохранить
        script#user-template(type='text/x-handlebars-template').
            {{#each items}}
            <item class="friend__item">
            <div class="friend"><img class="friend__photo" src={{photo}} alt="photo">
            <div class="friend__name">{{first_name}} {{last_name}}</div>
            </div><img class="add-button" src="images/add.png" alt="add">
            </item>
            {{/each}}
        script(src="js/script.js")