doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="css/main.min.css")
        title Vk friends
    body
        .container
            .logo
                img.logo__img(src='images/logo.png' alt='logo')
            .content
                .content__header
                    .top__header
                        .top__header-title Выберите друзей
                    .bottom__header
                .content__main
                    .left__main
                    .right__main
                .content__footer
